[user]
    #name = 
    #email = 

[color]
    ui = auto

[core]
    editor = nvim

[diff]
    algorithm = histogram

[merge]
    conflictStyle = zdiff3

# Aliases are mostly taken from https://gist.github.com/pksunkara/988716
[alias]
    #############
    fet = fetch --all --prune
    #############
    lg = log --oneline --graph --decorate
    # Search by filename
    lsf = !git ls-files | grep -i
    # Verbosely prune unreachable objects
    pr = prune -v
    #############
    pb = pull --rebase
    pbom = pull --rebase origin master
    #############
    rbi = rebase --interactive
    # Concise status with branch
    sb = status -sb
    #############
    assumed = !git ls-files -v | grep '^h' | cut -c 3-
    # List skip-worktree marked files. Can use 'findstr "^S"' instead of grep on Windows.
    skipped = !git ls-files -v | grep '^S' | cut -c 3-
    skip = update-index --skip-worktree
    unskip = update-index --no-skip-worktree
    #############
    alias = !git config -l | grep alias | cut -c 7-
    snap = !git stash push 'snapshot: $(date)' && git stash apply 'stash@{0}'
    # Fetch and merge branch without checkout
    upd = !git fetch origin $1:$1

    # Interactive add
    ai = add -i
    #############
    dk = diff --check
    dck = diff --cached --check
    #############
    rh = reset HEAD~
    rehh = reset --hard HEAD~
    resh = reset --soft HEAD~
